.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-image: url('./component/Images/mainphoto.png');
  background-size: cover;
  background-position: center;
  /* padding: 0 2em; */
  display: grid;
    justify-content: center;

  height: 600px;
}

.home-header {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  max-width: 100%;
}

.hero-content {
  /* padding: 40px 25px; */
  /* margin-top: 50px; */
  /* border: 1px solid #e6e6e6; */
  /* text-align: center; */
  /* max-width: 950px;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-content h1 {
  font-size: 2.5rem;
  /* font-weight: 300; */
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: left;
  color:  #FFFFFF;
  
}

.hero-content p {
  font-size: 1rem;
  /* margin-bottom: 2rem; */
  color:  #FFFFFF;
}
.hero-content h6{
  color:  #FFFFFF;
}

.hero-content button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 194px;
  height: 60px;
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
  color: #000;
}
.section-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.mainheader{
  display: flex;
  justify-content: space-around;
  height: 124px;
  background: #091242;
align-items: center;
  
}
.clock{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
.clock h6{
  color:  #FFFFFF;
  font-family: Krub;
font-size: 14px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
width: 128px;
}
.clock i {
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  padding: 14px;
  background-color: #273270;
  color:#F6B426;
  ;
}
.descriptions{
  display: flex;
  gap: 100px;

}
.total-services{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.services{
  display: flex;
  justify-content: center;
  /* gap: 155px; */
  margin: 64px 0;
  gap: 49px;
}
.service-text p{
  width: 247px;
  font-family: Krub;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:  #666C89;

/* padding-left: 10px; */

}
.cargo p{
  font-family: Rubik;
font-size: 35px;
font-weight: 600;
line-height: 41px;
letter-spacing: 0em;
text-align: left;
color: #1C1F35;

}
.cargo h1{
  max-width: 250px;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #1C1F35;
}
.transport-services{
  display: flex;
  gap: 40px;
 
}

.service-text{
border-left : #D8D8D8
1px solid;
padding-left: 10px;

}
.container {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./component/Images/flight.png');
  background-size: cover;
  z-index: -1;
}

.content-overlay {
  position: relative;
  z-index: 1;
}

.banner {
  text-align: center;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.left-content {
  float: left;
  width: 50%;
}

.right-images {
  float: right;
  width: 50%;
}

/* Add additional styling as needed */
.background-image img{
  height: 504px;
  max-width: 100%;
}
.content-overlay{
  display: flex;
  justify-content: center;
  background: linear-gradient(360deg, #091242 -11.11%, rgba(9, 18, 66, 0) 90.28%);


}
.right-component{
  display: flex;
  justify-content: center;
  max-width: 911px;
 
  background: #fff;
  align-items: center;
  padding: 50px;
  margin-top: 328px;

}
.right-txt{
  max-width: 348px;
  display: flex;
  flex-direction: column;
  gap: 7px;

}
.icon-text{
  display: flex;

  align-items: center;
  gap: 13px;

}
.count{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 20px;
  gap: 69px;
    margin-bottom: 100px;
 

}
.firstcount{
  border:  1px solid #D4D4D4 ;
  display: flex;
  gap: 25px;
  align-items: center;

}
.firstcount h4{
  font-family: Rubik;
font-size: 50px;
font-weight: 600;
line-height: 59px;
letter-spacing: 0em;
text-align: left;
color: #1C1F35;

}
.firstcount h6{
  font-family: League Spartan;
font-size: 20px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #1C1F35;


}
.content-img img{
  display: flex;
  max-width: 75rem;
  margin-top: 59px;
  padding: 0 69px;

}
.fraimes{
  display: flex;
    justify-content: center;

}
.gradient{
  background: linear-gradient(95deg, #FFB629 -1.19%, #FFDA56 57.78%, #FFD7A6 115.08%);
  margin-top: -133px;
  height: 274px;
  display: flex;
  flex-direction: column;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}


.gradient-btn{
  width: 194px;
  height: 60px;
  background: #1C1F35;
  color: #fff;
  margin-top: 10rem;
  border: none;


}
.customer {
  /* display: flex; */
  flex-direction: column;
  display: flex;
    /* justify-content: center; */
    /* max-width: 911px; */
    background: #fff;
    align-items: center;
    padding: 50px;
    /* margin-top: 328px; */
}

.testimonial {
  justify-content: space-between;
  width: 88%;
  display: flex;
  /* text-align: center; */
  align-items: center;


}

.customer-say {
  float: right;
  border-radius: 50%;
}

.arrow-icon {
  /* Your styles for the arrow icon */
}

.customer-info {
  width: 28rem;
  background: #091242;
  padding: 56px;
}
.customer-info1{
  width: 28rem;
  background: #F4F4F4;

  padding: 56px;
}

.customer-profile img {
  border-radius: 50%;
}

.custom-main {
  display: flex;
}

.custom-main p {
  max-width: 50rem;
  color: #FFFFFF;

}
.customer-info1 p{
  color:  #666C89;

}

.rating {
  /* Your styles for rating stars */
}
.fa-star:before {
  content: "\f005";
  color: #FDAF3B;
}
.fa-arrow-left:before {
  content: "\f060";
  background-color:  #091242;
  width: 2rem;
  width: 5px;
  padding: 11px;
  border-radius: 50%;
  color: #fff;
}
.fa-arrow-right:before {
 
  background-color:  #091242;
  width: 2rem;
  width: 5px;
  padding: 11px;
  border-radius: 50%;
  color: #fff;
}
.footer-img img{
  width: 100%;
}

.footer-container{
  display: flex;
  background: #091242;



}
.footer-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer-header p{
  max-width: 15rem;
}



.footer  h3{

  color: #fff;
  background: #273270;
  padding: 25px;
  

}
footer p{
  font-family: Krub;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;


}
footer h4{
  font-family: Krub;
font-size: 16px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
text-align: left;

}
footer h3{
  font-family: Rubik;
font-size: 25px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
background: #273270;
padding: 10px;

}

.footer-img {
  text-align: center;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: -26px;
 
}

.footer-header {
  /* width: 30%; */
}

.footer-container p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.clock {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.condent-text {
  margin-right: 10px;
}

.pages,
.Utility,
.Subscribe {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

h4 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff;
}

.search {
  margin-bottom: 10px;
}

input[type="search"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
 background: #091242;
 
  border: 1px solid #4E5683
}

.socialmedia {
  margin-top: 10px;
  color: #fff;
  margin-top: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.fa-brands {
  font-size: 24px;
  margin-right: 10px;
}
.footer-btn{
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 162px;
  height: 53px;
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
  color: #000;

}
.fa-square:before {
  content: "\f0c8";
  color: #FFB629;
}
  
